{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            {{ range where .Site.RegularPages "Title" "Home" }}
                <div class="markdown">
                {{ .Content }}
                </div>
            {{ end }}

            <div class="posts">
                {{ $posts := where .Site.RegularPages "Section" "blog" }}
                {{ if gt (len $posts) 0 }}
                    <div class="page-heading">LATEST POSTS</div>
                    <ul>
                        {{ range $posts.GroupByDate "Jan, 2006" "desc" }}
                            <li class="groupby">{{ .Key }}</li>
                            {{ range sort .Pages "Date" "desc" }}
                                {{ partial "li.html" . }}
                            {{ end }}
                        {{ end }}
                    </ul>
                {{ end }}
            </div>

            <div class="best-posts">
            {{ $nbPosts := len (where .Site.RegularPages "Params.best" true) }}
            {{ if gt $nbPosts 0 }}
                <div class="page-heading">Best posts</div>
                <ul>
                {{ range sort .Site.RegularPages "Date" "desc" }}
                    {{ if eq .Params.best true }}
                        {{ partial "li.html" . }}
                    {{ end }}
                {{ end }}
                </ul>
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
